/* eventpage_comments.css handles the inner css for the event page comments */
.comments{
    height: auto;
    margin-top: 10pt;
    margin-left: 5px;
    padding: 0 10pt 10pt 10pt;
}

.comments ul li p{
    outline-style: solid;
    outline-width: thin;
    padding: 3pt;
    background-color: slategray;
}

.comments ul li{
    margin: 0 0 10pt 0;
    border-style: double;
    background-color: rosybrown;
}

.hide{
    display: none;
}

/*  This is the comment template that is copied to display user-generated comments.
    It is not meant to be displayed.
*/
.comments ul li.blankComment{
    display: none
}

.comments ul li div.ratingWrapper{
    display: flex;
    justify-content: right;
    padding: 3pt 0 3pt 0;
}