#eventpane{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#thumbnail_template{
    display: none;
}

div.thumbnail{
    background-color: purple;
    margin: 10px;
    font-size: 15pt;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

div.thumbnail img{
    width: 100%;
}

h3{
    text-align: center;
}

.hidden{
    display: none;
}

@media screen and (max-width: 700px){
    #eventpane{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 450px){
    #eventpane{
        grid-template-columns: 1fr;
    }
}
